* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: #b5e0ed;
}

.wrapper {
	width: 600px;
	background-color: #fff;
	box-shadow: 0 0 10px #000;
}

form {
	padding: 40px;
	font-size: 20px;
}

h1 {
	margin-bottom: 30px;
	text-align: center;
}

.form-box {
	margin-bottom: 15px;
}

.form-box label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-box input {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid rgb(197,197,197);
	border-radius: 5px;
}

.form-box.error input {
	border: 1px solid rgb(255, 2, 2);
	background-color: rgba(209, 13, 13, .2);
}

.form-box .error-text {
	margin: 5px 0 0 10px;
	font-size: 14px;
	color: rgb(255, 2, 2);
	visibility: hidden;
}

.form-box.error .error-text {
	visibility: visible;
}

.control-buttons {
	display: flex;
	justify-content: flex-end;
}

.send, .clear, .close {
	display: block;
	padding: 10px 0;
	margin-left: 10px;
	width: 100px;
	font-size: 18px;
	background-color: #1088c0;
	color: #fff;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: all .3s;
}

.send:hover, .clear:hover, .close:hover { 
	background-color: #085f88;
}

.popup {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: -300px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 140px;
	background-color: #ffffff;
	border-radius: 8px;
	border: 2px solid black;
	transition: top .5s;
	
}

.popup p {
	font-size: 20px;
}

.popup .close {
	margin-top: 20px;
}

.show-popup {
	top: 75px;
}

